.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;
    text-align: center;
    margin: auto;
    
    .title {
      margin: 10px 0;
    }

    .button{
        padding: 2rem 0rem;
    }
    .signin{
        text-decoration: none;
        color: black;
    }
  }
  